{% extends 'base.html' %}

{% block content %}
<h1>Profile: {{ user[1] }}</h1>
<p><strong>Email:</strong> {{ user[2] }}</p>
<p><strong>Mobile No.:</strong> {{ user[3] }}</p>
<p><strong>Address:</strong> {{ user[4] }}</p>
<hr/>
<h2>Your Items</h2>
<hr />
{% if user_items %}
    <ul class="list-group">
        {% for item in user_items %}
            <li class="list-group-item">
                {{ item[1] }} - Starting Price: ₹{{ item[2] }} 
                {% if item[4] %} to {{ item[4] }} for ₹{{ item[3] }} {% endif %}
                <form action="{{ url_for('end_auction', item_id=item[0]) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm float-right">End Auction</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not added any items yet.</p>
{% endif %}

<h2>Your Bids</h2>
<hr />
{% if user_bids %}
    <ul class="list-group">
        {% for bid in user_bids %}
            <li class="list-group-item">
                {{ bid[1] }} - Bid Amount: ₹{{ bid[0] }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not placed any bids yet.</p>
{% endif %}

<h2>Your Won Items</h2>
<hr />
{% if user_wins %}
    <ul class="list-group">
        {% for win in user_wins %}
            <li class="list-group-item">
                {{ win[0] }} Sold to you for ₹{{ win[1] }}! Congratulations..
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not won any items yet.</p>
{% endif %}

<a href="/add_item" class="btn btn-success mt-3">Add New Item</a>
{% endblock %}
